<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <!-- Vue.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- VueRouter CDN -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

    <script src="https://kit.fontawesome.com/e28fa0e7ed.js" crossorigin="anonymous"></script>
    <title>ClickerEmpireGame</title>
</head>
<body>
    <div id="wrapper" class="wrapper vh-100 d-flex justify-content-center align-items-center">
        <transition name="mainPage">
            <main-page
                v-if="(!userObj == '')"
                v-show="showMainPage"
                v-bind:user="userObj"
                v-bind:numofsecond="numOfSecond"
                v-on:reset-data="resetData($event)"
            >
            </main-page>
        </transition>
        <div v-show="!showMainPage">
            <div class="col-12 col-md-10 text-white d-flex justify-content-center align-items-start flex-wrap p-3">
                <div id="startGamePage" class="bg-white text-dark d-flex justify-content-center align-items-center p-4 rounded">
                    <div class="col-12">
                        <div class="pb-4">
                            <h1>Clicker Empire Game</h1>
                        </div>
                        <div class="pb-4">
                            <input id="inputUserName" type="text" class="form-control" placeholder="Your name" v-model="userName" autofocus required>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="col-5">
                                <button type="submit" form="inputUserName" id="startGameBtn" class="btn btn-primary col-12" value="new" v-on:click="pushBtn('new')">New</button>
                            </div>
                            <div class="col-5">
                                <button type="submit" class="btn btn-primary col-12" id="loginBtn" v-on:click="pushBtn('login')">Login</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <!-- mainPageTemplate -->
    <script type="text/x-template" id="mainPage">
        <div class="mx-auto">
            <div class="col-10 d-flex flex-column flex-lg-row justify-content-center align-items-center align-items-lg-start py-3 mx-auto">

                <!-- left -->
                <div class="leftContainer bg-dark col-12 col-md-8 col-lg-5 p-3 rounded mb-3 mb-lg-0 border border-light">
                    <div class="bg-secondary d-flex justify-content-center px-5 py-3 rounded">
                        <div class="col-12 col-lg-5 border border-warning pt-3 rounded">
                            <h4 class="text-center">{{user.burger}} Burgers</h4>
                            <p class="text-center">${{getBurgerEffect()}} per second</p>
                        </div>
                    </div>
                    <div class="burgerImgArea rounded pt-5">
                        <img src="https://media.istockphoto.com/photos/juicy-hamburger-on-white-background-picture-id1206323282?b=1&k=20&m=1206323282&s=170667a&w=0&h=HuuZHlI67OCWiCH5jP94PbrJpj4_26CMJ2NlugqiNIk=" alt="" class="col-12 rounded-circle btn" v-on:click="clickBurger">
                    </div>
                    <div class="buttons d-flex justify-content-center justify-content-lg-start mt-5">
                        <div class="col-12 col-md-8 col-lg-5 border d-flex justify-content-around p-3">
                            <div class="bg-secondary col-6 p-2 rounded text-center btn">
                                <i class="fas fa-power-off fa-3x" v-on:click="pushResetBtn"></i>
                            </div>
                            <div class="bg-secondary col-6 p-2 ms-2 rounded text-center btn">
                                <i class="far fa-save fa-3x" v-on:click="pushSaveBtn"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- right -->
                <div class="col-12 col-md-8 col-lg-6 d-flex flex-column ms-lg-3">
                    <div class="information bg-dark d-flex flex-wrap justify-content-around border border-light p-3 mb-3 rounded">
                        <div class="bg-secondary col-12 col-md-8 col-lg-5 border border-light pt-3 mb-3 rounded">
                            <p class="text-center">{{user.name}}</p>
                        </div>
                        <div class="bg-secondary col-12 col-md-8 col-lg-5 border pt-3 mb-3 rounded">
                            <p class="text-center">{{user.age}} yrs old</p>
                        </div>
                        <div class="bg-secondary col-12 col-md-8 col-lg-5 border pt-3 mb-3 mb-lg-0 rounded">
                            <p class="text-center">{{user.days}}days</p>
                        </div>
                        <div class="bg-secondary col-12 col-md-8 col-lg-5 border pt-3 rounded">
                            <p class="text-center">${{user.money}}</p>
                        </div>
                    </div>
                    

                    <div v-if="!showItemInfo" class="items vh-100 bg-dark d-flex flex-column align-items-center p-3 rounded overflow-auto mb-5 border border-light">  
                        <!-- eachItem -->
                        <div v-for="eachItem in itemsArr" v-on:click="showItemInfoPage(eachItem)" role="button" class="bg-secondary col-12 d-flex justify-content-around border border-light p-2 mb-3 rounded">
                            <div class="imgArea col-3">
                                <img v-bind:src="eachItem.imageUrl" alt="" class="col-12">
                            </div>
                            <div class="description col-7 px-4 pt-2">
                                <h3>{{ eachItem.name }}</h3>
                                <div class="d-flex flex-wrap flex-column flex-md-row justify-content-between pt-2">
                                    <p>${{ eachItem.price }}</p>
                                    <p class="text-warning">+ ${{ eachItem.effect }} / <span v-if="eachItem.type==='ability'">click</span><span v-else>sec</span></p>
                                </div>
                            </div>
                            <div class="price col-2  pt-4">
                                <h2 class="text-center">{{ eachItem.count }}</h2>
                            </div>
                        </div>
                    </div>
                    <item-info
                        v-if="showItemInfo"
                        v-bind:item="currItem"
                        v-on:backPage="switchShowItemInfo"
                        v-on:pushPurchaseBtn="pushPurchaseBtn($event)"
                    ></item-info>
                </div>
            </div>
        </div>
    </script>

<!-- itemInfoTemplate -->
    <script type="text/x-template" id="itemInfoPage">
        <div class="items vh-100 bg-dark d-flex flex-column align-items-center p-3 rounded overflow-auto mb-5 border border-light">
            <div class="itemInfo col-12 bg-secondary d-flex flex-column justify-content-around border p-3 mb-3 rounded">
                <div class="detail col-12 d-flex align-items-center pe-3">
                    <div class="col-8">
                        <h2 class="py-2">{{item.name}}</h2>
                        <p>Max Purchases: {{item.maxCount}}</p>
                        <p>Price: ${{item.price}}</p>
                        <p>
                            Get {{item.effect}} extra yen per 
                            <span v-if="item.type=='ability'">click</span>
                            <span v-else>second</span>
                        </p>
                    </div>
                    <div class="col-4">
                    <img v-bind:src="item.imageUrl" alt="" class="col-12">
                    </div>
                </div>
                <div class="inputForm py-3">
                    <h5>How Many would you like to purchase?</h5>
                    <input type="number" class="form-control text-end" min="0" v-model="purchaseAmount">
                </div>
                <div class="d-flex flex-column flex-lg-row justify-content-around align-items-center pt-3">
                    <div class="bg-light col-10 col-lg-4 rounded mb-3 mb-lg-0">
                        <button class="btn btn-outline-primary col-12" v-on:click="$emit('backPage')">Go Back</button>
                    </div>
                    <div class="bg-light col-10 col-lg-4 rounded">
                        <button class="btn btn-primary col-12" v-on:click="$emit('pushPurchaseBtn', purchaseAmount)">Purchase</button>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script src="main.js"></script>
</body>
</html>